@{
    ViewData["Title"] = "About Us";
}
<h2 class="About" style="color: white">@ViewData["Title"]</h2>
<body style="background-color: black">
</body>

<p class="About" style="color: white">
    Clothing company from Göteborg, Sweden selling women's clothing.
    Doggo ipsum puggo borkf blep fluffer ruff super chub, maximum borkdrive very good spot you are doing me a frighten. Wow such tempt shibe fluffer the neighborhood pupper woofer, boof blop such treat doge what a nice floof, doing me a frighten vvv waggy wags. Pats ruff very good spot borking doggo, clouds woofer. Boofers sub woofer waggy wags much ruin diet borkdrive, long bois most angery pupper I have ever seen boofers. Doggo tungg big ol length boy lotsa pats vvv corgo you are doin me a concern extremely cuuuuuute, ur givin me a spook sub woofer very good spot waggy wags woofer you are doing me the shock very hand that feed shibe. Long woofer blop heckin angery woofer mlem, smol borking doggo with a long snoot for pats lotsa pats you are doing me a frighten, puggo long doggo. Long bois ur givin me a spook big ol you are doing me a frighten, stop it fren. Floofs very good spot yapper shooberino doggo much ruin diet wow very biscit, very good spot he made many woofs big ol pupperino.
</p>
