@{
    ViewData["Title"] = "Cart";

}
<body style="background-color: black">
</body>

<h2 class="Cart" style="color: white">@ViewData["Title"]</h2>

<p class="Cart" style="color: white">This is your cart.</p>


<form>
    <input type=submit value="Proceed to Checkout" />
</form>