@{
    ViewData["Title"] = "Contact";

}

<body style="background-color: black">
</body>
<h2 class="Contact" style="color: white">@ViewData["Title"]</h2>


<address class="Contact" style="color: white">
    Linn Tunberg<br />
    Göteborg<br />
    <abbr title="Phone">Phone:</abbr>
    012.345.6789
</address>

<address class="Contact" style="color: white">
    <strong>Support:</strong> <a href="mailto:linn.tunberg@gmail.com">linn.tunberg@gmail.com</a><br />
</address>
